.pictureContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;

  > .picture {
    border-radius: 0.5 * 100px;
    width: 100px;
    height: 100px;
    overflow: hidden;
    background-image: url("maxime.png ");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;


  }
}