<header id="home">
    <nav class="Navbar">

        <div class="Navbar__logo"><img src="SVG/logo.svg" alt="" width="250" height="100"></div>

        <div class="hamburger" id="h-menu"><svg height="32px" id="Layer_1" style="enable-background:new 0 0 32 32;" version="1.1" fill="#ffffff" viewBox="0 0 32 32" width="32px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M4,10h24c1.104,0,2-0.896,2-2s-0.896-2-2-2H4C2.896,6,2,6.896,2,8S2.896,10,4,10z M28,14H4c-1.104,0-2,0.896-2,2  s0.896,2,2,2h24c1.104,0,2-0.896,2-2S29.104,14,28,14z M28,22H4c-1.104,0-2,0.896-2,2s0.896,2,2,2h24c1.104,0,2-0.896,2-2  S29.104,22,28,22z"/></svg></div>

        <div class="Navbar__menulist" id="menulist">

            <ul class="Navbar__links">


                <li><a href="#home">Home</a></li>
                <li><a href="#whyme">Pourquoi moi ?</a></li>
                <li><a href="#whysite">Pourquoi cree un site web ?</a></li>
                <li><a href="#offre">Offres</a></li>
                <li><a href="#contact">Me Contacter</a></li>





            </ul>






        </div>





    </nav>


    <div class="banniere">

        <div class="banniere__texte">


            <h2>Renforcer votre Business </h2>
            <p>Confiez-moi la création de votre site</p>
            <div class="banniere__commander">
                <a class="banniere__link" href="#contact">Commander</a></div>

        </div>


        <div class="banniere__image"></div>



    </div>

</header>