
.presentation {

  padding: 20px;
  white-space: nowrap;
  .maj {

    text-transform: uppercase;
  }

  h2 {
    .maj  {
  background-color: initial;
      color: black;
    }
    .name-color {

      background: -webkit-linear-gradient(0deg, #eee, #b44cdc);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

    }



  }

  h3 {

    &:after {

      position: absolute;
      display: block;
      content: "";
      width: 50px;


      border: 1px solid;
      border-image-source: linear-gradient(45deg, #EEEEEE, #b44cdc);
      border-image-slice: 1;

    }


  }
}

@media all and (max-width: 600px) {
  .presentation {

    display: none;
  }

}