.contacts  {
  padding: 20px;
  h1 {


  padding: 5px;
  }
h1 {

  text-align: center ;
}


}

@media all and (max-width: 600px ) {

  .contacts {


    background: linear-gradient(90deg, rgba(134,82,138,1) 18%, rgba(212,94,220,1) 100%);

  color: white;

  }



}