<div class="Offre">

    <h2>Mes Offres</h2>



    <div class="Offre__item orange-bar-left ">
        <h3>Site vitrine</h3>
        <p>Entre 900 et 1500 &euro;</p>
        <p>Un site internet pour mettre en avant votre marque, vous démarquer de vos concurrents et attirer de nouveaux clients.</p>





    </div>

    <div class="Offre__item orange-bar-right">

        <h3>Site e-commerce</h3>
        <p>A partir de 2500 &euro;</p>
        <p>Une boutique en ligne ouverte 24h/24 7j/7 et un outil de fidélisation puissant pour accroître la vente de vos produits ou vos services.</p>



    </div>


    <div class="Offre__item orange-bar-left">
        <h3>Site sur mesure</h3>

        Besoins spécifiques comme un site de réservation, un espace membre ou d’autres solutions sur mesure ? On est à votre disposition.



    </div>












</div>









</div>