<div class="whyme">
    <div class="wrap">



        <div class="item item1 ">
            <div class="logo"><img class="" src="SVG/roue.svg" alt=""></div>

            <div class="right">
                <h2>Site ultra performant
                </h2>
                <p>un site optimiser permet un meilleur referencement
                </p>
            </div>

        </div>





    </div>









    <div class="wrap">



        <div class="item item2 ">
            <div class="logo"><img class="" src="SVG/seo.svg" alt=""></div>

            <div class="right">
                <h2>Site ultra performant
                </h2>
                <p>un site optimiser permet un meilleur referencement
                </p>
            </div>







        </div>






    </div>


    <div class="wrap">



        <div class="item item3 ">
            <div class="logo"><img class="" src="SVG/balise.svg" alt=""></div>

            <div class="right">
                <h2>Site ultra performant
                </h2>
                <p>un site optimiser permet un meilleur referencement
                </p>
            </div>







        </div>






    </div>






</div>