<div class="Whyme">

    <h2>Pourquoi moi ?</h2>



    <div class="Whyme__item orange-bar-left ">

        <div class="Whyme__icon"><img src="https://image.flaticon.com/icons/svg/168/168810.svg" width="50" height="50" alt=""></div>
        <p>le codage sans cms permet d' avoir un site web plus performant et eviter les faille de securité wordpress</p>




    </div>

    <div class="Whyme__item orange-bar-right">

        <div class="Whyme__icon"><img src="https://upload.wikimedia.org/wikipedia/commons/c/c2/Human_evolution_scheme.svg" width="50" height="50" alt=""></div>
        <p>fait a entierement en ligne de code des nouvelle fonctionalite peuvent etre rajouter rapidement</p>




    </div>


    <div class="Whyme__item orange-bar-left">

        <div class="Whyme__icon"><img src="https://camo.githubusercontent.com/28adc7d0c5c9ea1f11a89603391c39d268f29d4a/68747470733a2f2f7376672e6769746875622e696f2f7376676f2d6c6f676f2e737667" width="50" height="50" alt=""></div>
        <p>l' optimisation permet d'accelerer la vitesse de chargment des page tout en ameliorant le seo</p>




    </div>



    <div class="Whyme__item orange-bar-right">

        <div class="Whyme__icon"><img src="https://www.svgrepo.com/show/130221/seo.svg" width="50" height="50" alt=""></div>
        <p>Grace a un code simple et optomiser le referencement sera facilitée</p>




    </div>









</div>