.Whyme {
    align-items: center;
    justify-items: center;
    display: grid;
    grid-template-columns: 1fr;
    &__item {
        padding: 20px;
        display: grid;
        justify-items: center;
    }
}