<div class="Whysite" id="whysite">

    <h2>Pourquoi cree un site web ? </h2>


    <div class="Whysite__item">

        <div class="Whysite__icon"><img src="SVG/confiance.svg" width="50" height="50" alt=""></div>
        <p>Gage de confiance</p>




    </div>
    <div class="Whysite__item">

        <div class="Whysite__icon"><img src="SVG/business.svg" width="50" height="50" alt=""></div>
        <p>Attirer de nouveaux Clients</p>




    </div>

    <div class="Whysite__item">

        <div class="Whysite__icon"><img src="SVG/develloper.svg" width="50" height="50" alt=""></div>
        <p>Développer votre marque</p>




    </div>











</div>