.Whysite {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 20px;
    align-items: center;
    justify-items: center;
    display: grid;
    background-color: rgb(185, 20, 20);
    @media (min-width: 600px) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        align-items: stretch;
        width: auto;
    }
    color: white;
    clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 90%);
    grid-template-columns: 1fr;
    &__item {
        padding: 20px;
        display: grid;
        justify-items: center;
    }
}