.whysite {
    h2 {
        text-align: center;
    }
    .bar {
        height: 2px;
        width: 200px;
        background-color: #E85A07;
        margin: auto;
    }
    img {
        display: block;
        float: left;
    }
}