<div class="form">
    <form class="form__form" action="/" method="post">

        <input type="text" placeholder="Nom de votre entreprise" name="entrprise" id="entreprise">
        <input type="text" required placeholder="Votre Nom" name="nom" id="nom">
        <input type="text" required placeholder="Votre Prenom" name="prenom" id="prenom">


        <input type="email" required placeholder="Votre email" name="mail" id="mail" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">



        <input type="tel" required placeholder="Votre numero de telephone" pattern="[0-9]{10}" name="tel" id="tel">

        <textarea name="text" id="text" cols="30" rows="10" placeholder="taper votre message ici"></textarea>







    </form>









</div>