@import "About/about", "Contacts/contact", "Contact/Contact", "Experience/experiencepro", "Item/item", "Picture/picture", "Presentation/presentation",
"Formation/formation", "Sport/sports", "Recommandations/recommandation";

.body {
  display: flex;
  //justify-content: center;
  align-items: center;
  font-size: 12px;

}


.mainContainer {
  background-color: white;
  width: 900px;
  margin: auto;
  display: grid;
  grid-template-columns: 0.5fr 1fr;

  grid-template-rows: auto;
  grid-column-gap: 0px;
}

.leftContainer {
  background: linear-gradient(90deg, rgba(134, 82, 138, 1) 18%, rgba(212, 94, 220, 1) 100%);
  color: white;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: 1fr;

}


.point {

  position: absolute;
  left: -19px;
  width: 20px;
  height: 20px;


  background-image: url("dessin.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;


}


.hidden {

  display: none;
}


.rightContainer {
  color: black;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;


}

.presentation-hidden {
  

  display: none;
}

@media all and (max-width: 600px) {
  .presentation-hidden {
    display: flex;
    margin: auto;

    align-items: center;
    justify-content: center;


  }

  .rightContainer, .mainContainer, .leftContainer {
    color: black;
    display: block;
    background-color: white;
    background-image: none;
  }

  .leftContainer, .rightContainer {

    padding: 0px;
  }

  body {
    font-size: 12px;

    padding: 0;
    margin: 0;
  }

}


.web-site {
  background-image: url("web.svg");

  height: 14px;
  width: 14px;
  background-repeat: no-repeat;
  background-size: contain;
}



* {

  cursor: default;
}

@media all and (max-width: 370px){
  .formation .experience {

    i {

      width: 24px;
      height: 24px;
    }



  }

}