@import url('https://fonts.googleapis.com/css?family=Zhi+Mang+Xing&display=swap');
@import url('https://www.w3schools.com/w3css/4/w3.css') ;  


.body {
  
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

.titre {


font-size: 20px;
}

.mainContainer {
  display: grid;
  grid-template-columns: 300px 600px;
  grid-template-rows: 900px;
  grid-column-gap: 50px;
}

.leftContainer {
  display: grid;
  grid-template-rows: 0.5fr 1fr 1fr;
  grid-template-columns: 1fr;
  padding : 5px ; 

}

.contact {
  > .titre {
    text-align: center;
  }
  > .infos {
    padding-top: 10px;
    > .info {
      padding-top: 5px;
    }
  }
}

.pictureContainer {
  display: flex;
  align-items: center;
  justify-content: center;

  > .picture {
    
    border-radius: 0.5*100px;
    width: 100px;
    height: 100px;
    overflow: hidden;


  }
}

.contact {

  padding : 20px ; 
}
.about {

 > .texte {

padding :20px ;
 
text-align: justify;


 }
}

.rightContainer {
display: grid;
grid-template-columns: 1fr;
grid-template-rows: 0.5fr 1fr 1fr ;


.presentation {


    display: flex;
    justify-content: left;
    align-items : center ;  





}






}

.i-b { display: inline-block ;  }








.web-site { 
  background-image: url("web.svg");
  
  height:   14px ;
  width : 14px ; 
  background-repeat: no-repeat ;
  background-size: contain;
 
}


.item {
.infos {
.date {
display: inline-block ;  


}
.centre { 
display:inline-block ; 
}
.ville {

  display: inline-block ; 
}



}





}

.yellow-border { border-bottom: rgb(199, 134, 179) solid 0.5px ;


}

.font-style1  { 
  font-family: 'Zhi Mang Xing', cursive;

}

.fs15 {

  font-size : 1.5em ;  
}
.fs2 {

  font-size : 2em ;  
}

.fs12 {

  font-size: 1.2em;
}

.tac {
text-align: center ;
  
}

.fb700 {font-weight :  700 ;  }






